{% load static %}
{% block content %}
    <div class="row">
      <div class="col-lg-6">
        <div class="w3-panel w3-card-2">
           <div class="border-bottom">
             <h4>
               <i class="fa fa-users w3-text-teal"></i>&nbsp;&nbsp;Subscribers
             </h4>
           </div>

           <div class="panel-body w3-display-container" style="height: 250px;">
             <div class="w3-display-middle w3-text-orange"
               id="num-of-subscribers" style="font-size: 3em;">

             </div>
           </div>
         </div>
      </div>

      <div class="col-lg-6">
        <div class="w3-panel w3-card-2">
          <div class="border-bottom">
            <h4>
              <i class="fa fa-exchange w3-text-deep-orange"></i>&nbsp;&nbsp;&nbsp; Quick links
            </h4>
          </div>
          <div class="panel-body"
               style="height: 250px;">
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                     <div class="w3-container ">
                         <ul class="w3-ul w3-large">
                             <li>
                                <a href = "{% url 'subscribers:single_upload_subscribers_form' %}"
                                   class="w3-text-teal">
                                   <i class="fa fa-user-circle-o w3-text-black"></i> Single subscriber registration
                                </a>
                             </li>
                             <li>
                                 <a href = "{% url 'subscribers:batch_upload_subscribers_form' %}"
                                    class="w3-text-teal">
                                   <i class="fa fa-file-excel-o w3-text-green"></i> Batch subscriber registration
                                </a>
                             </li>
                             <li>
                                <a href="{% url 'subscribers:subscribers_list' offset=0 %}"
                                   class="w3-text-teal">
                                    <i class="fa fa-list w3-text-blue"></i> Registered subscribers
                                </a>
                             </li>
                         </ul>
                     </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block extrahead %}
    <script src="{% static 'accounts/js/jquery.js' %}"></script>
    <script>
        (function () {
            var srvRqst  =$.ajax({
                url: '{% url "volunteer:get_landing_page_data" %}',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: 'post',
                datatype: 'json'
            });
            srvRqst.done(function(response){
                try{
                    var responseObj = $.parseJSON(response);
                    $('#num-of-subscribers').html(
                        parseFloat(responseObj['num_of_subscribers']).toLocaleString());
                }catch(exp){

                }finally {

                }
            });
            srvRqst.fail(function (jHQR, errMsg, errThrown) {

            });
        })();
    </script>
{% endblock %}



