{% extends 'accounts/landing.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
        {% if request.user.is_superuser == True and  request.user.is_staff  == True %}
            {% include 'accounts/profile_page_admin.html' %}
        {% elif  request.user.is_superuser == False and  request.user.is_staff  == True%}
            {% include 'accounts/profile_page_client.html' %}
        {% elif request.user.is_superuser == False and  request.user.is_staff  == False %}
            {% include 'accounts/profile_page_volunteer.html' %}
        {% endif %}
{% endblock %}


